.venv/
.uv-cache/
__pycache__/
.pytest_cache/
.pytest-basetemp*/
.pytest-cache-runtime*/
.ruff_cache/
.snakemake/
inputs/0_cache/
inputs/0_external_models/
inputs/1_interim/
inputs/2_processed/
inputs/playground/
